.header {
  background-image: url(../assets/eduardo-cote-lamus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 26vh;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}