.container {
    margin-top: 50px;
    text-align: center;
  }

  .input {
    margin-left: 10px;
    width: 300px;
    height: 80px;
  }
  
.btn {
    width: 140px;
    height: 80px;
    margin: 10px;
  }