/* Styles to DOWN display */
@media (max-width: 600px) {
  .swal-wide {
    width: 70% !important;
    height: 70% !important;
    font-size: 18px !important;
    border-radius: 20px !important;
  }

  .swal-wide button {
    width: 150px !important;
    background-color: #dc3545 !important;
  }
}

/* Styles to HIGH display */
@media (min-width: 601px) and (max-width: 1080px) {
  .swal-wide {
    width: 75% !important;
    height: 75% !important;
    font-size: 40px !important;
    border-radius: 20px !important;
  }

  .swal-wide button {
    width: 300px !important;
    background-color: #dc3545 !important;
  }
}